[Desktop Entry]
Type=Application
Name=Docker Control Center
Comment=Manage the local Docker Engine and remote Docker/Balena hosts
Exec=/usr/bin/docker-control-center
Icon=docker-control-center
StartupWMClass=DockerControlCenter
Terminal=false
Categories=System;Utility;
Keywords=Docker;Balena;Containers;SSH;
StartupNotify=true
